<!DOCTYPE html>
<html>
<head>
<title>Ease Your Day</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="index.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<!--navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
	<form method="get">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#plans">MyPlans</a></li>
		
		  <button formaction="/reg" class="next action-button"  >Login</button>

      </ul>
	  </form>
    </div>
  </div>
</nav>

<!--banner -->
<div class="banner">
 <img src="bg.jpg" alt="banner">
  <div class="name">EASE YOUR DAY!</div>
    <div class="tag">Day Trips Made Easier</div>

	   <button  id="plan_trip" class="btn" onclick="location.href='plantrip.html';"> PLAN YOUR TRIP</button>
</div>




</body>
</html>
